<!doctype html>
<html>
<head>
    <title>aop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1> AOP</h1>
<h2>AOP가 필요한 상황</h2>
<h3>
    <p>모든 메소드의 호출 시간을 측정하고 싶다면?</p>
    <p>공통 관심 사항(cross-cutting concern) vs 핵심 관심 사항(core concern)</p>
    <p>회원 가입 시간, 회원 조회 시간을 측정하고 싶다면?</p>
</h3>
<hr>
<h2>MemberService 회원 조회 시간 측정 추가 </h2>
<h3>
    <pre>
        @Transactional
        public class MemberService {
             /**
             * 회원가입
             */
             public Long join(Member member) {

                 long start = System.currentTimeMillis();
                 try {
                     validateDuplicateMember(member); //중복 회원 검증
                     memberRepository.save(member);
                     return member.getId();
                 } finally {
                     long finish = System.currentTimeMillis();
                     long timeMs = finish - start;
                     System.out.println("join " + timeMs + "ms");
                 }
             }

             /**
             * 전체 회원 조회
             */
             public List< Member > findMembers() {
                long start = System.currentTimeMillis();
                 try {
                    return memberRepository.findAll();
                 } finally {
                     long finish = System.currentTimeMillis();
                     long timeMs = finish - start;
                     System.out.println("findMembers " + timeMs + "ms");
                 }
             }

        }
    </pre>

</h3>
<h2>- 문제</h2>
<h3>
    <p>회원가입, 회원 조회에 시간을 측정하는 기능은 핵심 관심 사항이 아니다.</p>
    <p>시간을 측정하는 로직은 공통 관심 사항이다.</p>
    <p>시간을 측정하는 로직과 핵심 비즈니스의 로직이 섞여서 유지보수가 어렵다.</p>
    <p>시간을 측정하는 로직을 별도의 공통 로직으로 만들기 매우 어렵다.</p>
    <p>시간을 측정하는 로직을 변경할 때 모든 로직을 찾아가면서 변경해야 한다.</p>
</h3>
<hr>
<h4><a href="/">Go to Index Page</a></h4>
</body>
</html>