<!doctype html>
<html>
<head>
    <title>aop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1> AOP</h1>
<h3>
    <p>AOP: Aspect Oriented Programming</p>
    <p>공통 관심 사항(cross-cutting concern) vs 핵심 관심 사항(core concern) 분리</p>

</h3>
<hr>
<h2>시간 측정 AOP 등록</h2>
<h3>
    <pre>
        @Component
        @Aspect
        public class TimeTraceAop {
             @Around("execution(* hello.hellospring..*(..))")
             public Object execute(ProceedingJoinPoint joinPoint) throws Throwable {
                 long start = System.currentTimeMillis();
                 System.out.println("START: " + joinPoint.toString());
                 try {
                    return joinPoint.proceed();
                 } finally {
                     long finish = System.currentTimeMillis();
                     long timeMs = finish - start;
                     System.out.println("END: " + joinPoint.toString()+ " " + timeMs + "ms");
                 }
             }
        }
    </pre>
</h3>
<hr>
<h2>해결</h2>
<h3>
    <p>회원가입, 회원 조회등 핵심 관심사항과 시간을 측정하는 공통 관심 사항을 분리한다.</p>
    <p>시간을 측정하는 로직을 별도의 공통 로직으로 만들었다.</p>
    <p>핵심 관심 사항을 깔끔하게 유지할 수 있다.</p>
    <p>변경이 필요하면 이 로직만 변경하면 된다.</p>
    <p>원하는 적용 대상을 선택할 수 있다.</p>
</h3>
<hr>
<h2>스프링의 AOP 동작 방식 설명</h2>
<h3>
    <p>AOP 적용 전 의존관계: controller->service</p>
    <p>AOP 적용 후 의존관계: controller->proxy(joinPoint.proceed())->service</p><br>
    <p>AOP 적용 전 전체관계: controller->service(real)->repository(real)</p>
    <p>AOP 적용 후 전체관계: controller(proxy)->controller->service(proxy)->service(real)->repository(proxy)->repository(real)</p><br>
    <p>* 여기서 AOP기술로 인해 DI의 장점을 확인할 수 있다. 해당 기술은 스프링의 `프록시 방식의 AOP`라 한다.</p>
</h3>
<hr>
<h4><a href="/">Go to Index Page</a></h4>
</body>
</html>