<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프 템플릿 엔진 선언, 타임리프 문법사용 가능 -->
<head>
    <title>build and run</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h2>- 빌드하고 실행하기</h2>
<h3>
    <p>1. `./gradlew build`</p>
    <p>2. `cd build/libs`</p>
    <p>3. `java -jar spring-basic-0.0.1-SNAPSHOT.jar`</p>
    <p>4. URL 접속하여 실행확인</p>
</h3>
<h3>
    <p>*혹시 에러가 난다면 `./gradlew clean build`</p>
    <p>`./gradlew clean` 시 build 파일을 완전 삭제하는데, 삭제 후 빌드한다는 의미</p>
</h3>
<hr>
<a href="/"><h4>Go to Index Page</h4></a>
</body>
</html>