<!doctype html>
<html>
<head>
    <title>backend-requirements</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>  회원 리포지토리 테스트 케이스 작성</h1>
<h3>
    <p>개발한 기능을 실행해서 테스트 할 때 자바의 main 메서드를 통해서 실행하거나, 웹 애플리케이션의 컨트롤러를 통해서 해당 기능을 실행한다.</p>
    <p>이러한 방법은 준비하고 실행하는데 오래 걸리고, 반복 실행하기 어렵고 여러 테스트를 한번에 실행하기 어렵다는 단점이 있다.</p>
    <p>자바는 JUnit이라는 프레임워크로 테스트를 실행해서 이러한 문제를 해결한다.</p>
    <p>실무에서는 build tool에서 build할때 테스트 케이스를 통과하지 않으면 다음단계로 못넘어가게 막는 경우가 있을만큼 요즘은 필수로 여겨진다.</p>
</h3>
<hr>
<h2>회원 리포지토리 메모리 구현체 테스트</h2>
<h3>
    <p>현재 소스코드의 예시는 `구현클래스(레포지토리) 개발-> 테스트 작성` 이지만 이 단계를 뒤집어서 `테스트 작성-> 구현클래스(레포지토리) 개발` 테스트 할 수도 있다.</p>
    <p>이를 테스트 주도 개발, 즉 TDD라 한다.</p>
</h3>
<hr>
<h4><a href="/">Go to Index Page</a></h4>
</body>
</html>